{% extends 'base.html' %} {% block content %}
<head>
    <title>Map</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map {
            height: 75vh;
            width: 100%;
        }
    
        .user-marker {
            background-color: #007bff;
            border: 2px solid white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            box-shadow: 0 0 6px rgba(0, 123, 255, 0.8);
        }
    </style>    
</head>
<body>
    <div>
        <a>The current weather conditions: {{template_data.weather}} F</a>
    </div>
    <a hidden id="init_lat">{{template_data.lat}}</a>
    <a hidden id="init_long">{{template_data.long}}</a>
    <a hidden id="willage_lat">{{template_data.willage_lat}}</a>
    <a hidden id="willage_long">{{template_data.willage_long}}</a>
    <a hidden id="nav_lat">{{template_data.nav_lat}}</a>
    <a hidden id="nav_long">{{template_data.nav_long}}</a>
    <div id="map"></div>
    <script>
        const map = L.map('map').setView([parseFloat(document.getElementById('init_lat').innerText), parseFloat(document.getElementById('init_long').innerText)], 13); // defaults to georgia tech
    
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
    
        const markers = [
            { coords: [parseFloat(document.getElementById('willage_lat').innerText), parseFloat(document.getElementById('willage_long').innerText)], name: "West Village Dining Hall" },
            { coords: [parseFloat(document.getElementById('nav_lat').innerText), parseFloat(document.getElementById('nav_long').innerText)], name: "NAV Dining Hall" }
        ];
    
        markers.forEach(marker => {
            L.marker(marker.coords).addTo(map).bindPopup(marker.name);
        });
    
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                const userCoords = [position.coords.latitude, position.coords.longitude];
    
                map.setView(userCoords, 14);
    
                const userIcon = L.divIcon({
                    className: 'user-marker',
                });

                L.marker(userCoords, { icon: userIcon }).addTo(map);

            });
        }
    </script>    
</body>
</html>
{% endblock content %}
