{% extends 'base.html' %} {% block content %}

<header class="masthead bg-index text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>GT Meal Planner</h2>
    <p>Track your spending with ease!</p>
  </div>
</header>
{% if not user.is_authenticated %}
<div class="container d-flex align-items-center flex-column pt-2">
  <p>Sign In and Input Meal Plan Details for Analysis</p>
</div>
{% elif user.is_authenticated and not template_data.active %}
<!-- add meal plan info, swipes, etc-->
<div class="container d-flex align-items-center flex-column pt-2">
  <p>Hello, {{template_data.username}}!</p>
  <p>Please Select A Base Meal Plan</p>
</div>
{% elif user.is_authenticated and template_data.active %}
<div class="container d-flex align-items-center flex-column pt-2">
  <p>Hello, {{template_data.username}}!</p>
  <p>You have {{template_data.swipes}} swipes remaining.</p>
  <p>You have {{template_data.dollars}} dining dollars remaining.</p>
  <p>
    Your meal plan started on {{template_data.start}} and ends on
    {{template_data.end}}.
  </p>

  
</div>
{% endif %} {% endblock content %}
